Package: ilvo-artof-core
Version: 0.1
Maintainer: Axel Willekens <axel.willekens@ilvo.vlaanderen.be>
Architecture: amd64
Description: Installation file for the Agriculture Robot Taskmap Operating (ARTOF) operational layer processes
Depends: iputils-ping, libcurl4-openssl-dev, libboost-system-dev, libboost-filesystem-dev, libboost-thread-dev
